// responsive breakpoints
$breakpoint-small: 35rem; 
$breakpoint-medium: 50rem;
$breakpoint-large: 75rem;

// fonts
$base-font-size: 15px;
$base-font-size-custom: 17px;
$base-font-standard: arial, helvetica, "free sans", sans-serif;
$base-font-custom: 'proxima-nova', helvetica, arial, "free sans", sans-serif;
$head-font-custom: 'proxima-nova', helvetica, arial, "free sans", sans-serif;

// colors
$color-text: #1a1a1a;
$color-main: #567;
$color-light: lighten($color-main, 20%);
$color-dark: darken($color-main, 20%);
$black: #222;
$white: #fbfbfb; 
$bgc: #E8E8E8; // #F5F5F5;
$dark-blue: #1B293E;

// intro section
$col-1: #006876;
$col-1-complementary: #C35500;
$col-2: #00A1B6;
$col-3: #FFB0C3; // #F49CBB
// spacing
$default-spacing: 4rem;
$section-spacing: 5rem;


// wrappers
$js_page_1-max-width: 1200px;
$single-item-max-width: 1000px;
