.back-to-menu {
	display: block;
	width: 60px;
	height: 60px;
	background-color: #fff;
	position: fixed;
	z-index: 13;
	top: 40px;
	left: 40px;
	transition: all 400ms ease-in-out;
	opacity: 0;
	transform: translateX(-100px);

	&.on {
		opacity: 1;
		transform: translateX(0px);
	}

	&.off {
		opacity: 0;
		display: none;
	}

	&:hover {
		cursor: pointer;
		background-color: $color-text;

		.icon-chevron-thin-left {
			color: #fff;
		}
	}
}

.single {
	.back-to-menu {
		opacity: 1;
		transform: translateX(0px);
	}
}

.icon-chevron-thin-left {
	width: 30px;
	height: 30px;
	position: relative;
	top: 15px;
	left: 15px;
}	