.header {
	position: relative;
	z-index: 1;
	padding-top: $default-spacing;
}

.header-block {
	height: 0;
	display: none;
}

@media (min-width: $breakpoint-small) {
	
	.header {
		// overflow: auto;
		// margin-bottom: $section-spacing;
		width: 99.5%;
		position: fixed;
		top: 0;
		left: 0;																			
		z-index: -1;	
		
	}	

	.header-block {
		display: block;
		width: 100%;
		height: 410px;			
	}
}

@media (min-width: $breakpoint-medium) {
	.header-block {
		height: 400px;
	}
}



.site-title {
	text-align: center;	
	letter-spacing:.6rem;
	line-height: 40px;
  	margin: 0 auto $section-spacing auto;
	opacity: 0;	
	font-weight: 100;
	font-size: 2.3rem;

  // @media (max-width: 500px) {
  //   line-height: 0.8;
  // }
}

.wf-active {
	.site-title {
		opacity: 1;
	}
}

.site-intro {
	width: 100%;
  	max-width: 800px;
  	text-align: center;
  	margin: 0 auto;
}