// base styles
// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


// to avoid extranaous animations while page settles
.no-transitions,
.no-transitions * {
  transition: none !important;
}



// is needed for overlay
html, body {

   &.portfolio {

      height: 100%;
      // testing
      overflow: hidden;
    }
}



body {
  &.portfolio {
    overflow: hidden; // for logo effect
  
  // This is kinda good for performance overall
  // But... you can't fixed position inside it then
  // transform: translateZ(0);

  }
}



// Layout
.page-wrap {
  // Required for non-janky off-screen squishing
  // float: right;

  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 1rem;   
}

@media (min-width: $breakpoint-medium) {
  .wrapper {
   padding: 0 2rem;
  }
}

@media (min-width: $breakpoint-large) {
  .wrapper {
    margin: 0 auto;
    padding: 0;  
  }
}


// $breakpoint-small: 25rem; 
// $breakpoint-medium: 50rem;
// $breakpoint-large: 75rem;



[data-effeckt-page] {
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  visibility: hidden;
  z-index:0;
  padding: 0;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  display: none;
  background-color: $bgc;
  // background-color: rgba(232,232,232,1);
  
  &.effeckt-page-active {
    display: block;
    visibility: visible;
    z-index: 10;
  }

  &.effeckt-page-animating {
    overflow: hidden;
    z-index: 10;
    position: absolute;
    overflow-y: scroll;
     -ms-overflow-style: -ms-autohiding-scrollbar;
  }

}


[data-effeckt-page]#js_page_2 {

  z-index: 12;

  &.effeckt-page-active {
    z-index: 12;
  }

  &.effeckt-page-animating {
    z-index: 12;
  }  
}





@media only screen and (min-width: $breakpoint-medium) {
  [data-effeckt-page] {
    padding: 0;
  }
}


.section {
  margin-bottom: $default-spacing;
}

p {
  margin-bottom: 1.5rem;
}



