// base styles
// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


// to avoid extranaous animations while page settles
.no-transitions,
.no-transitions * {
  transition: none !important;
}



// is needed for overlay
html, body {

   &.portfolio {

      height: 100%;
      // testing
      overflow: hidden;
    }
}



body {
  &.portfolio {
    overflow: hidden; // for logo effect
  
  // This is kinda good for performance overall
  // But... you can't fixed position inside it then
  // transform: translateZ(0);

  }
}



// Layout
.page-wrap {
  // Required for non-janky off-screen squishing
  // float: right;

  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: $js_page_1-max-width;
  margin: 0 auto; 
  padding: 0 1rem;   
}

@media (min-width: $breakpoint-medium) {
  .wrapper {
   padding: 0 2rem;
  }
}

@media (min-width: $breakpoint-large) {
  .wrapper {
    margin: 0 auto;
    padding: 0;  
  }
}





[data-page] {
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  visibility: hidden;
  z-index:0;
  padding: 0;
  backface-visibility: hidden;
  // prevents position:fixed on child elements - moved to page-animating class
  // transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  display: none;
  background-color: $bgc;

  
  &.page-active {
    display: block;
    visibility: visible;
    z-index: 10;
  }

  &.page-animating {
    overflow: hidden;
    z-index: 10;
    position: absolute;
    overflow-y: scroll;
     -ms-overflow-style: -ms-autohiding-scrollbar;
    // added from above
     // transform: translate3d(0, 0, 0);
  }

}


// [data-page]#js_page_2 {

//   z-index: 12;

//   &.page-active {
//     z-index: 12;
//   }

//   &.page-animating {
//     z-index: 12;
//   }  
// }





@media only screen and (min-width: $breakpoint-medium) {
  [data-page] {
    padding: 0;
  }
}

















.section-wrap {
  position: relative;
  z-index: 1;  
  background-color: $bgc;    
}


@media only screen and (min-width: $breakpoint-small) {

  .section-wrap {

    &::before {
        top: -120px;
        left: 0px;
        width: 100%;
        height: 120px;
        position: absolute;
        display: block;
        content: "";
        pointer-events: none;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(232, 232, 232, 0)), 
          color-stop(0.6, rgb(232, 232, 232)));
      }      
    }  
}


.section {
  margin-bottom: $section-spacing;
}

p {
  margin-bottom: 1.5rem;
}



