.back-to-menu {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	position: fixed;
	z-index: 11;
	top: 20px;
	right: 20px;
	&:hover {
		cursor: pointer;
	}
}


// Check mixin for attempt to style and fix scrollbar jank!
// // .work-page {
// // 	@include scrollbars(.5em, slategray);
// // }


