// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// to avoid extranaous animations while page settles
.no-transitions,
.no-transitions * {
  transition: none !important;
}


// is needed for overlay
html, body {
  // height: 100%;
  // testing
  // overflow: hidden;
}

body {
  // overflow: hidden; // for logo effect

  // This is kinda good for performance overall
  // But... you can't fixed position inside it then
  // transform: translateZ(0);
}

// Layout
.page-wrap {
  // Required for non-janky off-screen squishing
  float: right;
  width: 100%;
}
