.page-wrap {
	display: none;
	&.on {
		display: block;
	}
}

.back-to-menu {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	position: fixed;
	top: 20px;
	right: 20px;
	&:hover {
		cursor: pointer;
	}
}